* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    color: aliceblue;
}

#cursor {
    height: 20px;
    width: 20px;
    position: fixed;
    background-color: #FED54A;
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
}

#cursor-blur {
    height: 120px;
    width: 120px;
    position: fixed;
    background-color: #fed44aa7;
    border-radius: 50%;
    filter: blur(20px);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #191970;
}

body::-webkit-scrollbar-thumb {
    background-color: #FED54A;
    border-radius: 5px;
}

#nav {
    width: 100%;
    padding: 20px 60px;
    position: fixed;
    z-index: 900;
    cursor: pointer;
}

#nav-items {
    display: flex;
    justify-content: space-between;
}

#logo img {
    width: 110px;
    height: 70px;
}

#nav-txt {
    display: flex;
    gap: 20px;
    align-items: center;
}

#nav-txt h4 {
    text-transform: uppercase;
    font-weight: 900;
}

#bg-video video {
    width: 100%;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    z-index: -999;
}

#main {
    background-color: rgba(0, 0, 0, 0.45);
}

#home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

#home h1 {
    font-size: 200px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}

#home h1::before {
    content: "FAMILY GUY";
    position: absolute;
    color: black;
    left: -6px;
    top: -6px;
    -webkit-text-stroke: 3px #FED54A;
    z-index: -1;
}

#home p {
    font-size: 20px;
    line-height: 30px;
    margin: 10px;
    text-align: center;
    width: 80%;
}

#characters {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 50px;
}

#characters #character-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#characters #character-text h2 {
    font-size: 100px;
}

#characters #character-text p {
    width: 60%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.scroller-content {
    display: inline-block;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 55s;
}

#scroller::-webkit-scrollbar {
    visibility: hidden;
}

#scroller {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    z-index: 100;
}

.scroller-content h4 {
    margin-right: 10px;
    display: inline-block;
    color: transparent;
    font-size: 80px;
    -webkit-text-stroke: 3px #FED54A;
}

.scroller-content h4:hover {
    color: #FED54A;
}

#deaths {
    position: relative;
    height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#deaths h2 {
    font-size: 100px;
    margin-bottom: 20px;
}

#deaths .death-text p {
    font-size: 20px;
    line-height: 30px;
}

#deaths .death-text {
    display: flex;
    align-items: center;
}

#deaths .death-card {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#deaths .death-card .death-text {
    width: 70%;
}

#deaths .death-card .death-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

#death1 {
    background-image: url(assets/death-characters/brian.png);
}

#death2 {
    background-image: url(assets/death-characters/vinny.png);
}

#death3 {
    background-image: url(assets/death-characters/diane.png);
}

#death4 {
    background-image: url(assets/death-characters/muriel.png);
}

#death5 {
    background-image: url(assets/death-characters/francis.png);
}

.image-overlay {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #fed44aa0;
    transition: all ease 0.5s;
    opacity: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay h3{
    font-size: 50px;

}

#watch{
    background-color: #FED54A;
    width: 100%;
    height: 30vh;
}
#pattern {
    width: 100%;
    height: 100%;
    background-image: url(assets/misc/background-blue.png);
    background-position: top;
    background-size: cover;
}

#watch-content{
    width:30%;
    height: 100%;
    display: flex;
    margin-left: 100px;
    align-items: center;
}
#watch-content .quote{
    width: 60px;
    height:30px;
}

#watch-content p{
    text-align: center;
    line-height: 20px;
    color: #191970;
}

#q1{
    margin-bottom: 100px;
}
#q2{
    margin-top: 100px;
    margin-right: 20px;
}

#top10{
    width: 100%;
    height: 100vh;
}

@keyframes scroll {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}